<header id="folder-header" class="header" v-if="(active_view == 'folders' && active_folder)" v-cloak>
  <div v-cloak class="header-left pull-left">
  </div>

  <div class="header-right pull-right">
    <div class="dropdown top right light" v-bind:class="{open: active_dropdown=='account'}">
      <button
        class="profile-avatar btn btn-md btn-icon btn-dark btn-round"
         v-if="logged_in"
         v-bind:style="background_image_style([user.avatar_thumb_uri])"
         v-bind:class="{'has-avatar-image':!!user.avatar_thumb_uri}" v-on:click="show_account();">
        <span class="icon icon-user" v-if="logged_in && !user.avatar_thumb_uri"></span></button>

      <div class="dropdown-menu" role="menu">
        <ul class="select-list">
          <li v-if="user.team && is_admin(user)">
            <a href="/team">
              <span class="icon icon-sm  icon-user-group"></span>
              <span><%=  __('edit_team') %></span>
            </a>
          </li>

          <li>
            <a href="/account">
              <span class="icon icon-sm  icon-user"></span>
              <span><%=  __('edit_account') %></span>
            </a>
          </li>

          <li v-on:click="logout()">
            <span>
              <span class="icon icon-sm  icon-logout"></span>
              <span><%=  __('log_out') %></span>
            </span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</header>